download
__pycache__
dist
build
ytd.spec
tempCodeRunnerFile.py
cydl.spec
cydl-windows.exe
cydl-linux
experiment.zip
trial.py
buildozer.spec
test
py.zip
video_core_backup.py
exception_new.py
log.txt
debugger.py
.vscoode
venv
cydm_download